body, html {
    height: 100%;
    width: auto;
    background-color: black; 
}

* {
    box-sizing: border-box;
}

.container {
    background-image: url('books.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    filter: blur(7px);
    height: 100%;
    z-index: 1; 
}


/* Title & Bar */ 
.titleBox {
    height: 180px;
    width: 300px; 
    position: absolute; 
    top: 35%; 
    left: 150px; 
    display: flex;
    flex-direction: column;

}

.titleBox:hover .bar {
    width: 10px; 
    transition: .5s; 
}

.title {
    font-family: 'VT323', monospace;
    font-size: 60px;
    z-index: 2;
    color: rgb(255, 255, 255);
    opacity: 80%;
    top: 35%;
    left: 100px;

}

.bar {
    border-top: 5px solid white;
    border-radius: 8px;
    opacity: 50%; 
    width: 270px; 
    margin-top: -30px; 
    transition: 0.5s;
}

/* Buttons */
.newBook {
    cursor: pointer; 
    width: 230px;
    border-radius: 10px; 
    height: 40px; 
    background-color: rgb(53, 49, 49);
    color: white; 
    opacity: 90%;
    border: 1px solid rgb(92, 87, 87); 
    transition: 0.8s; 
    margin-top: 12px;
}

.newBook:hover {
    background-color: rgb(53, 49, 49, 0.5);
    border: 2px solid rgb(141, 141, 247); 
    transition: .8s; 
    outline: none; 
}

.newBook:hover .bar {
    width: 50px;
}

/* Prompt */ 
.promptWrapper {
    position: absolute;
    background-color:rgba(124, 119, 119, 0.25); 
    height: 840px;
    width: 900px;  
    display: flex;
    justify-content: center; 
    align-items: center; 
    top: 3.5%;
    left: 36%; 
    border: 1px solid rgb(0, 0, 0); 
    overflow-y: scroll; 
}

.promptWrapper::-webkit-scrollbar {
    display: none; 
}


.prompt {
    height: 500px;
    width: 500px; 
    position: absolute; 
    border: 2px solid rgb(226, 226, 226, 0.9); 
    transition: 10s;
    box-shadow: 2px 2px 2px; 
    display: flex;
    flex-direction: column;
    padding-left: 40px; 
}

.userText {
    height: 40px;
    width: 400px; 
    border: 1px solid white;
    border-radius: 10px; 
    background: rgb(226, 226, 226, 0.35); 
    color: white; 
    padding-left: 20px;
}

#userTitle {
    margin-top: 45px; 
    border-radius: 15px; 
    outline: none;
}

#userTitle:focus {
    border: 3px solid rgb(141, 141, 247); 
    transition: .8s; 
    outline: none; 
}

#userAuthor {
    margin-top: 80px;
    border-radius: 15px; 
    outline: none;
}

#userAuthor:focus {
    border: 3px solid rgb(141, 141, 247); 
    transition: .8s; 
    outline: none; 
}

#userPages {
    margin-top: 80px;
    border-radius: 15px; 
    outline: none; 
}

#userPages:focus {
    border: 3px solid rgb(141, 141, 247); 
    transition: .8s; 
    outline: none; 
}

.submit {
    position: absolute;
    bottom: 10%; 
    left: 27%;
    height: 30px;
    width: 200px;
    border-radius: 15px; 
    border: 1px solid white;
    background: rgba(255, 255, 255, 0); 
    color: white; 
}

.submit:hover {
    border: 1.2px solid rgb(145, 247, 141); 
    transition: .8s; 
    outline: none; 
}

.readSwitch {
    position: absolute; 
    display: flex; 
    flex-direction: row; 
    bottom: 17%;
    left: 157px; 
    width: 150px;
    height: 80px; 
    justify-content: space-evenly;
    align-items: center; 
}

.read {
    height: 25px; 
    width: 25px;
    background-color: rgba(255, 255, 255, 0);
}

.readLabel {
    margin-left: 15px; 
    color: white; 
    font-family: 'VT323', monospace;
    font-size: 20px; 
}



.close {
    position: absolute;
    top: 0%; 
    left: 94%;
    height: 30px;
    width: 30px; 
    border: 1px solid white;
    background: rgba(255, 255, 255, 0); 
    color: white;
    text-align: center; 
    border-top: none; 
    border-right: none; 
    transition: 0.5s; 
}

.close:hover {
    color: red; 
}

/* Library */ 
.bookWrapper {
    height: 800px;
    width: 850px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column; 
}

.card {
    height: 210px;
    width: 190px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(94, 40, 40);
    box-shadow: 3px 3px rgb(189, 187, 187);
}

.card:hover {
    border: 2px solid rgba(0, 0, 0, 0.856); 
}

.shelf {
    width: 800px;
    height: 820px; 
    border-right: 2px solid rgba(255, 255, 255, 0.336);
    border-left: 2px solid rgba(255, 255, 255, 0.336);; 
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-auto-columns: 33% 33% 33%;
    grid-auto-rows: 33% 33% 33%;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;   
    flex-direction: row;
    justify-content: space-evenly; 
    overflow-y: auto; 
}

.shelf::-webkit-scrollbar {
    color: red; 
}

.bookTitle {
    display: block; 
    width: 190px;
    height: 50px; 
    padding-top: 0px; 
    padding-right: 5px;
    padding-left: 5px; 
    text-align: center; 
    font-size: 22px; 
    color: rgb(255, 201, 101); 
    font-family: 'Chakra Petch', sans-serif; 
}

.bookAuthor {
    display: block; 
    width: 190px;
    height: 50px; 
    padding-top: 53px; 
    text-align: center; 
    font-size: 16px; 
    color: white; 
    font-family: 'Chakra Petch', sans-serif;
}

.bookPages {
    display: block; 
    width: 190px;
    height: 50px; 
    padding-top: 23px;  
    text-align: center; 
    font-size: 14px; 
    color: white; 
    font-family: 'Chakra Petch', sans-serif;
}

.readButton {
    width: 80px;
    height: 25px;
    margin-left: 58px;
    margin-top: -10px; 
    background-color: rgba(255, 255, 255, 0); 
    border: 1px solid rgba(0, 0, 0, 0.486); 
    font-family: 'Chakra Petch', sans-serif
}

.delButton {
    height: 20px; 
    background-color: rgba(255, 255, 255, 0); 
    position: static; 
    border: none;
    margin-left: 165px; 
    margin-top: 2px;
    color: white; 
    font-size: 12px; 
}

.delButton:hover {
    color: rgb(255, 173, 173); 
}